soundations.spris.dev {
  root * /www/snd-client

  log

  encode zstd gzip

  handle /api/* {
    reverse_proxy {$SND_SERVER_HOST}:{$SND_SERVER_PORT}
  }

  handle * {
    try_files {path} /index.html
    file_server

    header / {
      Cache-Control "no-cache, no-store, must-revalidate"
    }

    header /static {
      Cache-Control "public, max-age=31536000, immutable"
    }
  }
}
